<div class="container-lg">
<div>
    <div>
           <h2>All Hobbies</h2>
           <ul class="heroes">
           <li *ngFor="let hobby of hobbies"
               [class.selected]="hobby === currentHobby"
               (click)="getCurrentHobby(hobby)">
                {{hobby.hobbyName}}
            </li>
          </ul>

    
    </div>
    <div>
        
        <button class="btn btn-outline-dark btn-lg" (click)="onClick1()">Create hobby</button>
    
    
        <button class="btn btn-outline-dark btn-lg" (click)="deleteHobby(this.currentHobby.idHobby)">Delete hobby</button>


        <button class="btn btn-outline-dark btn-lg" (click)="onClick()">Update hobby</button>

    </div>
</div>
<br><br>
<div>
<div *ngIf="this.show1">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit1()">
        <div class="form-group">
            <label for="hobbyName">HobbyName</label>
            <input type="text" formControlName="hobbyName" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="hobbyType">Hobby Type</label>
            <input type="text" formControlName="hobbyType" class="form-control"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>
      
    </form>
</div>
<div *ngIf="this.show">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="hobbyName">HobbyName</label>
            <input type="text" formControlName="hobbyName" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="hobbyType">Hobby Type</label>
            <input type="text" formControlName="hobbyType" class="form-control"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
      
    </form>
</div>
</div>
</div>