<h1 align="center">Hi {{currentUser.username}}!</h1><br/>
<br/>

<h3 align="center">Choose project:</h3>

<form [formGroup]="chooseProject" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="Project">Projects</label>
        <select class="form-control" formControlName="Project">
            <!-- <option value ="1">Proiect</option> -->
            <option [value]="project.idProject" *ngFor="let project of projects" >{{project.projectName}}</option>
        </select>    
    </div>
   
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

<h3 align="center" *ngIf="selectedProject">Choose user:</h3>
<ul>
    <li *ngFor="let user of users">
      <a [routerLink]="['/viewPersonalTimesheets', user.idUser]">{{ user.username }}</a>
    </li>
  </ul>
