<div>
    <table align="center">
        <tbody>
            <tr *ngFor="let user of users"  class="heroes" >
                <td [class.selected]="user === currentUser" (click)="getCurrentUser(user)">{{user.username}} ({{user.firstName}} {{user.lastName}})</td>
                <td><button (click)="activateUser()" [disabled]="user.isActive">Activate</button></td>
                <td><button (click)="deactivateUser()"[disabled]="!user.isActive">Deactivate</button></td>
            </tr>
        </tbody> 

      </table> 

</div>