<div class="main"><!--main container-->

    <div class="row first-row"><!--first row-->

       <div class="col-lg"><!--column-->

          <!--upper nav -->
          <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
              <div class="navbar-nav">
              <a class="nav-item nav-link" routerLink="/">Home</a>
              <a class="nav-item nav-link" (click)="logout()">Logout</a>
              <a class="nav-item nav-link"  routerLink="/changePassword">Change password</a>           
              <a *ngIf="currentUser.isAdmin" class="nav-item nav-link"  routerLink="/register">Register user</a>
            </div>
          </nav>
       
       </div><!--end of column-->
        
    </div><!--end of first row-->

    <div class="row second-row"><!--second row-->

        <div class="col-2"><!--first column-->

            <div  *ngIf="currentUser" class="sidenav"><!--sidenav-->
                <a href="/addTimesheet">Add Timesheet</a>
                <a href="/viewPersonalTimesheets">View Personal Timesheets</a>
              </div>
            
        </div><!--end of first column-->

        <div class="col-10"><!--second column-->
            <div class="container">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div><!--end of second column-->

    </div><!--end of second row-->

</div><!-- end of main container-->