.container{
    width:200px;
    height:50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.btn
{
    margin-right:20px;
    margin-left:20px;
}