<h2>Add timesheet </h2>
<br>
<!--for adding timesheet-->
<div class="timesheet">
    <form [formGroup]="addTimesheetForm" >
     <!--form row -->
        <div class="form-row">

           <!-- form column -->
          <div class="form-group col-sm-2">

            <label for="Date">Date</label>

            <input type="date" formControlName="Date" class="form-control first-row" [ngClass]="{ 'is-invalid': submittedSave && f.Date.errors }" />
            <!-- validation -->
            <div *ngIf="submittedSave && f.Date.errors" class="invalid-feedback">
                <div *ngIf="f.Date.errors.required">Date is required</div>
            </div>

          </div>

          <!-- form column -->
          <div class="form-group  col-sm-2">

            <!-- select option -->
            <label for="Location">Location</label>
            <select class="form-control" formControlName="Location" [ngClass]="{ 'is-invalid': submittedSave && f.Location.errors }">
                <option [value]="location.idLocation" *ngFor="let location of locations" >{{location.locationName}}</option>
            </select>
            <!-- validation -->
            <div *ngIf="submittedSave && f.Location.errors" class="invalid-feedback">
                <div *ngIf="f.Location.errors.required">Location is required</div>
            </div>

          </div>

          <!-- form column -->
          <div class="form-group  col-sm-2">
            <label for="StartTime">Start Time</label>
            <input type="time" formControlName="StartTime" (change)="checkDifference()" class="form-control" [ngClass]="{ 'is-invalid': submittedSave && (f.StartTime.errors || checkTime)}" />
            <!-- validation -->
            <div *ngIf="submittedSave && f.StartTime.errors" class="invalid-feedback">
                <div *ngIf="f.StartTime.errors.required">Start Time is required</div>
            </div>
           
            <div *ngIf="submittedSave && checkTime" class="invalid-feedback">
                <div *ngIf="submittedSave && checkTime">Start Time is greater than End Time</div>
            </div>
         
         </div>

        <!-- form column -->
        <div class="form-group  col-sm-2"> 
           <label for="EndTime">End Time</label>
           <input type="time" formControlName="EndTime" (change)="checkDifference()" class="form-control" [ngClass]="{ 'is-invalid': submittedSave && f.EndTime.errors }" />
           <!-- validation -->
           <div *ngIf="submittedSave && f.EndTime.errors" class="invalid-feedback">
               <div *ngIf="f.EndTime.errors.required">End Time is required</div>
           </div>          
        </div>

         <!-- form column -->
         <div class="form-group  col-sm-2 ">

             <label for="Break">Break</label>
             <input type="time" formControlName="Break" class="form-control" [ngClass]="{ 'is-invalid': submittedSave && f.Break.errors }" />
              <!-- validation -->
             <div *ngIf="submittedSave && f.Break.errors" class="invalid-feedback">
                 <div *ngIf="f.Break.errors.required">Break is required</div>
             </div>
  
         </div>

          <div class="form-group col-sm-2">
 
            <label for="TotalWorkedHours">Total worked hours</label>
            <input disabled="true" type="text" formControlName="TotalWorkedHours" class="form-control" />
 
          </div>

        </div><!--end of form row-->
      

        <!-- add button -->
        <div >
            <button class="btn btn-primary first-btn" (click)="btnAddActivity()">Add activity</button>
        </div><!--end of add btn-->

        <br>
        <!--for adding timesheet activities-->
                  
                 <div formArrayName="timesheetActivities">
                    <div *ngFor="let timesheetActivity of timesheetActivities.controls;let i=index">
                       <div [formGroup]="timesheetActivity ">
        
                          <!--form row -->
                          <div class="form-row">
           
                          <!-- form column -->
                          <div class="form-group col-2">
         
                             <label  for="WorkedHours">Worked Hours</label>
         
                             <input type="time" formControlName="WorkedHours" (change)="setTotalWorkedHours()" class="form-control" [ngClass]="{ 'is-invalid': submitted && timesheetActivity.controls.WorkedHours.errors?.required}" />
                             <!-- validation -->
                             <div *ngIf="submitted && timesheetActivity.controls.WorkedHours.errors?.required" class="invalid-feedback">
                                <div *ngIf="timesheetActivity.controls.WorkedHours.errors?.required">Worked hours are required</div>
                             </div>
                             <div *ngIf="submitted && checkWorkedHours" class="invalid-feedback">
                             <div *ngIf="checkWorkedHours">You worked too much on this project!</div>
                             </div>
        
                          </div>
         
                  
         
                          <!-- form column -->
                         <div class="form-group col-2">
         
                         <!-- select option -->
                         <label for="Project">Project</label>
                         <select class="form-control" formControlName="Project"  [ngClass]="{ 'is-invalid': submitted && timesheetActivity.controls.Project.errors?.required}">
                            <option *ngFor="let project of projects" [value]="project.idProjectAssignment">{{project.projectName}}</option>
                         </select>
                         <!-- validation -->
                         <div *ngIf="submitted && timesheetActivity.controls.Project.errors?.required" class="invalid-feedback">
                            <div *ngIf="timesheetActivity.controls.Project.errors?.required">Project is required</div>
                         </div>
                  
                         </div>
        
                         <div class="form-group col-md">
                             <label class="label-com" for="Comments">Comments</label>
          
                             <input type="text" formControlName="Comments" class="form-control input-com" />
                        </div>

                        <div class="form-group col-sm">
                            <button class="btn btn-primary"  (click)="btnRemove(i)" style="margin-top:31px ;">Remove</button>
                        </div>
         
                        </div>
                 
        
                   </div>  <!-- form group -->
                </div> <!--ng for div-->
            </div><!-- form array div-->
                

        <div><!--save btn-->
            <button  class="btn btn-primary"(click)="btnSaveRecords(i)">Save records</button>
        </div><!--end of save btn-->
      </form>
</div>




